<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                {{#each products}}
                    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a href="/product/{{sno}}" class="block relative h-48 rounded overflow-hidden">
                            <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                                src="{{image}}">
                        </a>
                        <div class="mt-4">
                            <h2 class="text-gray-900 title-font text-lg font-medium">{{product_name}}</h2>
                            <p class="mt-1">Rs. {{price}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </section>
    {{>footer}}
</body>

</html>